/* ===========================
   Page Wrapper
=========================== */
.select-batch-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 150px;
}

/* ===========================
   Page Container
=========================== */
.select-batch-container {
  width: 70%;
  margin: 40px auto;
  text-align: center;
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ===========================
   Header
=========================== */
.select-batch-header {
  display: flex;
 margin-left: 160px;
  gap: 230px;
  margin-bottom: 30px;
  /* background-color: #6a6a6a; */
}

.select-batch-title {
  font-size: 30px;
  margin-top: 3px;
  font-weight: bold;
}

/* ===========================
   Batch Box Area
=========================== */
.select-batch-box {
  width: 70%;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 12px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* ===========================
   Batch Card
=========================== */
.select-batch-card {
  width: 140px;
  padding: 15px 18px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;

  text-align: center;
  font-size: 15px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.select-batch-card:hover {
  background: #08164E ;
  color: white;
  /* border-color: #098d6c; */
  transform: translateY(-2px);
}

/* ===========================
   Add Button
=========================== */
.select-batch-add-btn {
  margin-top: 40px;
  padding: 12px 45px;
  font-size: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.select-batch-add-btn:hover {
  background: #0cc91c;
  border-color: #0cc91c;
}

.select-batch-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.select-batch-card.active {
    /* border-color: #4f46e5; */
    color: white;
    font-weight: bold;
    background-color: #08164E;
    box-shadow: 0 0 6px #4f46e5;
}
.select-batch-error {
    color: #d9534f;
    margin-bottom: 15px;
    font-size: 14px;
    background: #ffe6e6;
    padding: 10px;
    border-radius: 6px;
}

.select-batch-success {
    margin-top: 12px;
    color: #28a745;       /* green */
    font-weight: 500;
    text-align: center;
}


