/* Page Wrapper */
.student-details-wrap {
  padding: 2rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  background-color: white;
  height: 100%;
}

/* Header */
.student-details-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  
}

.student-details-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #555;
}

/* Card */
.student-details-card {
  max-width: 420px;
  background: #fff;
  padding: 1.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

/* Rows */
.student-details-row {
  display: flex;
  margin-bottom: 1rem;
}

.student-details-label {
  width: 140px;
  font-weight: 600;
  color: #555;
}

.student-details-value {
  color: #333;
  flex: 1;
}

/* Error */
.student-details-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.student-details-error-text {
  color: #b71c1c;
  background: #fdecea;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

/* Responsive */
@media (max-width: 768px) {
  .student-details-card {
    width: 100%;
  }

  .student-details-label {
    width: 110px;
  }
}
